@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family:  "Arial";
  background: linear-gradient(45deg, #1e90ff);
  background-size: 400% 400%;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.worldmap-container {
  width: 90%;
  max-width: 1200px;
  height: 80vh;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.worldmap-container svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.4s ease-in-out, filter 0.3s ease;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
}

.worldmap-container svg:hover {
  transform: scale(1.01);
  filter: drop-shadow(0 8px 15px rgba(255, 69, 0, 0.8));
}

.worldmap-container svg path {
  fill: #2c2c2c;
  stroke: #ffffff;
  stroke-width: 0.8;
  transition: fill 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

.worldmap-container svg path:hover {
  fill: #ff6347;
  transform: scale(1.01);
  filter: drop-shadow(0 0 10px rgba(255, 99, 71, 0.8));
  cursor: pointer;
}

.worldmap-container svg path:active {
  filter: drop-shadow(0 0 15px rgba(0, 255, 0, 0.8));
}

footer {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
}

footer p {
  margin: 0;
  font-size: 11px;
  letter-spacing: 0.5px;
}

footer p:hover {
  color: #ff69b4;
  text-shadow: 0 0 8px rgba(255, 105, 180, 0.8);
}

.worldmap-container::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent 70%);
  animation: spin 10s linear infinite;
  pointer-events: none;
}
